body{
font-family: 'Times New Roman', cursive;
background-color:#FCDFFF;
}


.first{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
}

.second{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #E75D59;
	box-shadow: rgba(0, 0, 0, 0) 0px 15px 30px, rgba(0, 0, 0, 0.22) 0px 20px 10px;
	
}

span{
	text-align: left;
}

